@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i&subset=cyrillic');

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loaderInner {
    background-image: url("img/preloader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 400px;
    width: 300px;
    margin-top: 100px;
    left: 50%;
    margin-left: -150px;
    top: 0;
    position: absolute;
}

.text-up{
	text-transform: uppercase;
}
.text-center{
text-align: center;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
    transform: scale(0);


  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}


.s-main
{
	margin-top: 20px;
}
.left_side{
	margin-bottom: 20px;
}
.box .input-group-addon{
	display: none;
}
.box_project .panel-heading{
	padding: 5px 10px;
	font-weight: 700;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}
.form-group .input-sm
{
	margin-bottom: 5px;
}
.box_project .form-group{
	margin-bottom: 0;
}
.box_project .form-group .btn-default{
	font-family: "Open Sans";
    width: 100%;
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}
.acide_carousel .carousel-indicators{
    position: relative;
}

.acide_carousel .carousel-inner .item
{
	font-size: 13px;
	height: 215px;
	background-color: transparent;
}
.carousel_change 
{
    position: relative;
    bottom: -4px;
}

.carousel_change .carousel-box{
	padding: 7px 10px;
	background-color: rgba(0,0,0,0.3);
    border-radius: 10em;
}
#fact{
	font-size: 18px;
}
.carousel_change .right{
	position: absolute;
    right: 0;
    bottom: -5px;
}
.carousel_change .carousel-box .glyphicon{
	color: #fff;
}
.gallery{
	overflow-x: hidden;
}
.gallery-item> a >img{
 width: 100%;
 height: 100%;
 margin-left: 0;
 z-index: 10;

}
.gallery-item> a:hover{
	animation: scl .3s linear;

}

.gallery-item> a{
	display: inline-block;
	margin-bottom: 10px;
	width: 210px;
	position: relative;	
	transform: scale(.98);

}
.gallery-item> a:before{
		content: "";
		position: absolute;	
		width: 100%;
		height: 100%;	
	    background-color: rgba(243, 187,29,.1);
	    transition: background-color .4s ease;


	}
@keyframes scl{
	0%{
		transform: scale(.98);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(.98);
	}
}
.gallery-item> a:hover:before

{
	background-color: rgba(24, 191,199, 0);



}

#yak1> h1
{
border-bottom: 1px solid #eaeaea;
padding-bottom: 25px;
}

.gallery>.row>.gallery-item{
	margin-bottom: 20px;
}
.callback{
	position: absolute;
	width: 300px;
	height: 375px;	
	z-index: 100;
	background-color: rgba(255,255,255,.9);
	border-radius: 10px;
	left: 	50%;
	margin-left: -150px;
	padding: 5px 10px;	
	display: none;
}
.callback>h3
{
	text-align: center;	
}
.callback>ul>li>.glyphicon-ok{
	color: green;
    border: none;
    padding-right: 10px;
}
.callback>ul>li{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;	
	font-weight: 	700;
}
.callback>ul
{
	padding-left: 20px;	
   margin-top: 4px;
    list-style: none;
    text-align: left;
}
.callback p
{
	text-align: center;	
	font-size: 	14px;
}
.callback .btn{
	position: relative;	
	left: 50%;
	margin-left: -50px;	
}
 .callback.active{
	display: block;
}
.overlay_callback{
	
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;		
	background-color: rgba(0,0,0,.7);
	z-index: 99;	
	display: none;	
}
 .category{
    position: absolute;
    z-index: 50;
    width: 100%;
    left: 1px;
    top: -1px;
    list-style: none;
    text-align: center;
    background-color: transparent;
    margin-top: -20px;
    border-bottom: 1px solid rgba(0,0,0,.1);

 }
 .category .category_item {
 	display: inline-block;
 	padding: 15px 20px;
 	
}
.category .category_item a{
color :#ffb100;
font-size: 18px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 400;
}
.category .category_item a:hover{
	color: #d6a537;
}
.category_fixed{
	position: fixed;
	background-color: rgba(255, 255, 255 ,.9);
    top: 17px;
    width: 100%;
    left: 0;
    z-index: 80;
    border-bottom: none;

}
#portfolio{
 margin-top: 60px;
 height: 500px;
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
 position: relative;
}
#portfolio .h4:before{
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 40px;
    position: absolute;
    width: 150px;
    background-color: #000;
}
#portfolio .h4{
 font-family: "Roboto" ,sans-serif;
}
#portfolio >.h1{
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 25px;
	
}
#portfolio .h5
{
	font-size: 14px;
	margin-bottom: 30px;
	font-weight: 700;
	color: #333;
}
#portfolio .container{
	margin-top: 60px;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.content_about_me a{
	width: 220px;
}
.content_about_me .mail{
color :#ffb100;

	}
.content_about_me .mail:hover{
	color: #d6a537;

}
.content_about_me a img{
width: 220px;

}
.content_about_me {
	font-size: 16px;
}
.content_about_me .soc a img{
width: 35px;
margin-top: 20px;
padding: 5px ;
}
.content_about_me .soc a img:hover{
animation: jello 1s;
}
.content_about_me p{
	font-family: "Open Sans", sans-serif;
}

.s_summary{
	    background-color: #FAFAFA;

 
}
 .my_study:before{
	 content: "";
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 40px;
    position: absolute;
    width: 150px;
    background-color: #000;
}
.summary{
	min-height: 190px;
	position: relative;
	padding-bottom: 25px;
	padding-top: 30px;
	z-index: 1;
	
}
.summary .text_main{
font-size: 16px;
}
.summary .main_caption_summary{
	margin-top: 20px;
}
.summary .content_text_summary{
	margin-top: 80px;
}
.summary .content_text_summary .icon_linea{
	font-size: 40px;	
}
.summary .accent_text .accent_p{
	background-color: #ffa141;
	display: inline-block;
	padding: 3px 10px;
	margin: 10px 0px;
	font-size: 14px;
	border-radius: 2px;
	color: #fff;
}
.s_summary .dodatok{
	margin-top: 40px;
	padding: 0px 350px 60px 350px;
	font-family: "Open Sans", sans-serif;

	
}
.s_summary .dodatok .h6{
font-size: 15px;
font-weight: 700;
}
.s_summary .dodatok p{
    font-size: 16px;
    color: #ca8f53;
    padding: 5px 20px;
}
.s_summary .dodatok .list{
	text-align: left;
	color: #333;
}
.my_work{
 min-height: 1200px;
 background-color: #222;
 color: #fff;
 font-family: "Open Sans";	
 padding-bottom: 80px;
}

.my_work .section_header{
	    padding: 40px 0px;
	    margin-bottom: 80px;	
}

.my_work .section_header h1{
 font-weight: 700;	
}
.my_work .section_header .h4{
	letter-spacing: 2px;
	margin-top: 20px;	
		
}
.my_work .section_header .h4:before{
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 60px;
    position: absolute;
    width: 150px;
    background-color: #fff;
}


.my_work  ul li:last-child
{
	margin-right: 0px;
}


.my_work  ul li.active{
	border-bottom: 2px solid #f5a732;
	color: #fff;

}
.active_li{
	border-bottom: 2px solid #f5a732;
}
.my_work  ul{
	margin-bottom: 40px;
}
.my_work  ul .filter_item{
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #c2c2c2;
	cursor: pointer;
	font-size: 12px;
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
	}

.my_work_inner_content .h6{
    z-index: 100;
    position: absolute;
    top: 38%;
    left: 50%;
    margin-left: -90px;
    font-size: 22px;
    color: #fff;
}
.my_work_inner_content .time{
	position: absolute;
	top:0;
	width: 32%;
	background-color: #f5a732;
	display: none;
}
.callback_button img{
	width: 79px;
    padding-bottom: 30px;
    margin-top: -53px;
    cursor: pointer;
}

.parallax-mirror{
	z-index: 1;
}
.classOut{
	display: none;
}
#portfolio_grid img{
	width: 100%;
}
#portfolio_grid .portfolio_item{
	text-align: center;
	padding: 0;
	height: 268px;
	overflow: hidden;
	display: inline-block;
}
#portfolio_grid .portfolio_item .port_item{
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 50;
	top: 0;
	left: 0;
	padding-top: 10%;
	opacity: 0;
	transition: all .4s ease;
}
#portfolio_grid .portfolio_item .port_item:hover{
	opacity: 1;
	padding-top: 20%;
}
.portfolio_item .port_item h3{
 font-size: 20px;
}
.portfolio_item .port_item a{
 display: inline-block;
 background-color: transparent;
 border: 2px solid #ffa141;
 color: #ffa141;
 margin-top: 20px;
 padding: 3px 10px ;
 font-size: 15px;

}
.descr{
	background-color: #fff;
	max-width: 500px;
	margin: auto;

}
.descr img{
	width: 100%;
}
.contact{
	padding: 80px 0px;
}
.contact .my_study{
	padding-bottom: 40px;
}
.contact_box{
 margin-bottom: 40px;
}
.contact_box >div{
	font-size: 40px;
	color:#ffa141;
	padding-bottom: 0px
}
.contact_box >div img{
width: 40px;
margin-bottom: 10px;
}
.contact_box h3{
 margin-top: 0px;
}
.contact_box p{
font-size: 14px;
}
.contact_box p a{
color:#FF6347;
}
footer{
	padding: 50px 0px;
	background-color: #222;
}
footer p{
	color: rgba(255,255,255,.7);
	padding: 0px 40px;
	margin-top: 5px;
}
@import 'media.css';
