@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}


.s-main
{
	margin-top: 20px;
}
.left_side{
	margin-bottom: 20px;
}
.box .input-group-addon{
	display: none;
}
.box_project .panel-heading{
	padding: 5px 10px;
	font-weight: 700;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}
.form-group .input-sm
{
	margin-bottom: 5px;
}
.box_project .form-group{
	margin-bottom: 0;
}
.box_project .form-group .btn-default{
	font-family: "Open Sans";
    width: 100%;
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}
.acide_carousel .carousel-indicators{
    position: relative;
}

.acide_carousel .carousel-inner .item
{
	font-size: 13px;
	height: 215px;
	background-color: transparent;
}
.carousel_change 
{
    position: relative;
    bottom: -4px;
}

.carousel_change .carousel-box{
	padding: 7px 10px;
	background-color: rgba(0,0,0,0.3);
    border-radius: 10em;
}
#fact{
	font-size: 18px;
}
.carousel_change .right{
	position: absolute;
    right: 0;
    bottom: -5px;
}
.carousel_change .carousel-box .glyphicon{
	color: #fff;
}
.gallery{
	overflow-x: hidden;
}
.gallery-item> a >img{
 width: 100%;
 height: 100%;
 margin-left: 0;
 margin-bottom: 20px;
 background-color: 
 z-index: 10;

}
.gallery-item> a:hover{
	animation: scl .3s linear;

}
.gallery-item> a{
	display: block;
	width: 100%;
	height: 330px;
	background-size: cover;
	position: relative;	
	background-position: center top;
	transform: scale(.98);

}
.gallery-item> a:before{
		content: "";
		position: absolute;	
		width: 100%;
		height: 100%;	
	    background-color: rgba(24, 191,199,.3);
	    transition: background-color .4s ease;


	}
@keyframes scl{
	0%{
		transform: scale(.98);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(.98);
	}
}
.gallery-item> a:hover:before

{
	background-color: rgba(24, 191,199, 0);



}

#yak1> h1
{
border-bottom: 1px solid #eaeaea;
padding-bottom: 25px;
}
.gallery-item>a>span{
    position: absolute;
	top: 50%;
	left: 46%;
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	margin-left: -60px;	
	margin-top: -15px;
	font-weight: 700;
    transform: scale(0.9);

}
.gallery>.row>.gallery-item{
	margin-bottom: 20px;
}
.callback{
	position: absolute;
	width: 300px;
	height: 375px;	
	z-index: 100;
	background-color: rgba(255,255,255,.9);
	border-radius: 10px;
	left: 	50%;
	margin-left: -150px;
	padding: 5px 10px;	
	display: none;
}
.callback>h3
{
	text-align: center;	
}
.callback>ul>li>.glyphicon-ok{
	color: green;
    border: none;
    padding-right: 10px;
}
.callback>ul>li{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;	
	font-weight: 	700;
}
.callback>ul
{
	padding-left: 20px;	
   margin-top: 4px;
    list-style: none;
    text-align: left;
}
.callback p
{
	text-align: center;	
	font-size: 	14px;
}
.callback .btn{
	position: relative;	
	left: 50%;
	margin-left: -50px;	
}
 .callback.active{
	display: block;
}
.overlay_callback{
	
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;		
	background-color: rgba(0,0,0,.7);
	z-index: 99;	
	display: none;	
}
.pagination{
	padding-left: 0;
    margin-top: -10px;
    margin-left: 14px;
   
}